
@page "/"


@using MarketApp.Shared
@using MarketApp.Client.Service
@using System.Text.Json
@inject HttpClient Http
@inject UserStateManager UserState
@inject NavigationManager NavigationManager 
<link href="css/index.css" rel="stylesheet" />
<div class="login-card">
    
    <div class="card-body">
        <div class="form-group">
            <label for="email">Email:</label>
            <InputText id="email" @bind-Value="email" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <InputText type="password" id="password" @bind-Value="password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary" @onclick="() => SignIn()">Sign In</button>
    </div>
</div>

@code {
    private string email;
    private string password;

    private async Task SignIn()
    {
        var response = await Http.PostAsJsonAsync("Account/SignIn", new SignInRequest(email,password));

        if (response.IsSuccessStatusCode)
        {
            var jsonString = await response.Content.ReadAsStringAsync();
            UserDto user = JsonSerializer.Deserialize<UserDto>(jsonString,JsonManager.DefaultSerializerOptions);

            // Redirect or perform some action upon successful sign in

            this.UserState.UserInfo = user;
            this.UserState.IsLogin = true;
            NavigationManager.NavigateTo("/productlist");
        }
        
        
    }
}
